.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &.primary-button{
        background: linear-gradient(135deg, #0ea5e9, #06b6d4);
        color: #ffffff;

        &:active{
            transform: scale(1.1);
        }
    }
}